{% extends "base.html" %}
{% block title %}Contactos{% endblock %}
{% block body %}



<div class="container-fluid">
    <div class="row">
        <!-- Menú vertical -->
        <div class="col-md-3 col-lg-2 bg-dark min-vh-100 p-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menú Completo</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
                    id="menu">
                    <li class="nav-item w-100">
                        <a href="#" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                        </a>
                    </li>

                    <li class="w-100">
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 text-white"> <span
                                        class="d-none d-sm-inline">Resumen</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-white"> <span
                                        class="d-none d-sm-inline">Estadísticas</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="w-100">
                        <a href="#" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Pedidos</span>
                        </a>
                    </li>

                    <li class="w-100">
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Clientes</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 text-white"> <span
                                        class="d-none d-sm-inline">Lista</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-white"> <span
                                        class="d-none d-sm-inline">Agregar</span></a>
                            </li>
                        </ul>
                    </li>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item active" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                </ul>

            </div>
        </div>

        <!-- Contenido principal -->
        <div class="col-md-9 col-lg-10 p-4">
            <h1>Contenido Principal</h1>
            <p>Aquí va el contenido de tu página.</p>
        </div>
    </div>
</div>

{% endblock body %}