{% extends 'basetarea.html' %}

{% block titulo %}Editar cliente{% endblock %}

{% block contenido %}



{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <script type="text/javascript">
        Swal.fire({
            title: "Datos Actualizados...",
            text: "{{message}}",
            icon: "{{category}}"
        });
    </script>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="row">
    <div class="col-4"></div>
    <div class="col-12 col-md-9 col-lg-6 col-xl-6 col-xxl-4 p-5">
        <div class="card">
            <div class="card-header text-center">AGREGAR CLIENTES</div>
            <div class="card-body">
                <form action="/edit/actualizar" method="post">
                    <input type="hidden" name="txtid" value="{{clientes['id']}}">
                    <div class=" form-floating mb-3">
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId"
                            placeholder="Nombres" value="{{clientes['name']}}" />
                        <label for="nombre" class="form-label">Nombres</label>
                    </div>
                    <div class=" form-floating mb-3">
                        <input type="text" class="form-control" name="email" id="email" aria-describedby="helpId"
                            placeholder="Correo Electronico" value="{{clientes['email']}}" />
                        <label for="email" class="form-label">Correo Electronico</label>
                    </div>
                    <div class=" form-floating mb-3">
                        <input type="text" class="form-control" name="phone" id="phone" aria-describedby="helpId"
                            placeholder="Telefono" value="{{clientes['phone']}}" />
                        <label for="phone" class="form-label">Telefono</label>
                    </div>
                    <div class=" text-center">
                        <button class="btn btn-outline-primary" type="submit">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}